<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dmod.gg</title>
</head>
<body>
    <div class="coming-soon">
        <img src="../../public/dmodv2.png" alt="#">
        <h1>COMING IN 2021</h1>
        <p>Introducing the new way to find and hire Discord moderators.<br>
        Check back soon for the pre-release! :)
        </p>
    </div>
</body>
</html>